* { box-sizing: border-box }

body
  background: #EEE

input.field
  width: 100%
  padding: 5px
  outline: none
  border: none
  background: #f5f5f5

// No underlink under link
a:link, a:visited
  text-decoration: none

#chat
  position: absolute
  left: 10px
  right: 10px
  top: 10px
  bottom: 10px

  background: white
  display: flex

  > #channels
    width: 100px

    border-width: 0 1px 0 0
    border-style: solid
    border-image: linear-gradient(to top, white, #EEE, white) 1 100%;

    > ul
      margin: 0
      padding: 3px
      list-style-type: none
      cursor: pointer

      > li:hover { background: #F0F0F0 }
      > li#current
        font-weight: 600
        color: #750000

  > #buffer
    flex-grow: 1
    display: flex
    flex-direction: column

    > ul
      flex-grow: 1
      margin: 0
      padding: 3px
      list-style-type: none
      overflow-y: scroll

      > li
        display: flex

        > .nick
          color: gray
          font-size: 0.8em
          margin-right: 10px
        > .content { flex-grow: 1 }
        > .control
          margin-right: 10px
          > i { cursor: pointer }

        &:hover { background: #F0F0F0 }
        &:not(:hover) .control { visibility: hidden }
